.ant {
  &-table {
    overflow: hidden;
    border-radius: 8px !important;
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);

    &-thead {
      background-color: #eceef0;
    }

    &-content {
      background: white;
      overflow: hidden;
    }
  }

  &-table-pagination-center {
    align-items: center;

    .ant-pagination-total-text {
      margin-right: auto;
      order: -2;
    }

    .ant-pagination-disabled .ant-pagination-item-link {
      cursor: default !important;
    }

    .ant-pagination-options {
      order: -1;
      margin-right: 16px;
    }
  }
}
